<% catalogs=Catalog.all %>
<ul class="nav nav-tabs nav-stacked">
  <li><%= link_to "Main", admin_path %></li>
  <li><%= link_to "Manager Users", admin_users_path %></li>
  <li><%= link_to "Manager Catalogs", admin_catalogs_path %></li>
  <li><%= link_to "Manager Orders", admin_orders_path %></li>
</ul>